body {
    background: linear-gradient(#4a5663, #090a0c);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: "Arial Black", Arial, sans-serif;
    text-align: center;
    color: #f2f2f2;
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url("https://i.imgur.com/NNYLto2.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.aboutHeader {
    min-height: 100vh;
    width: 100%;
    background-size: 150%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.intersect {
    background-color: rgba(10, 20, 59, 0.5);
    background-blend-mode: multiply;
    color: #f2f2f2;
    width: 90%;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.intersect p {
    font-size: 1rem;
}

.tint {
    background-color: #f2f2f2;
    background-blend-mode: multiply;
}

.navbar {
    list-style: none;
    overflow: hidden;
    background-color: rgba(10, 20, 59, 0.5);
    background-blend-mode: multiply;
}

.navbar a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(10, 20, 59, 0.5);
    background-blend-mode: multiply;
    padding: 0 20px;
    list-style: none;
}

.navbar a:hover {
    color: #9bafc7;
}

.logo {
    height: 40px;
    width: 40px;
    border: none;
    box-shadow: none;
    position: absolute;
    left: 40px;
    top: 55px;
}

.mainText {
    color: #f2f2f2;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mainText h1 {
    color: #f2f2f2;
    font-size: 62px;
}

.mainText p {
    margin: 10px 0 40px;
    color: #f2f2f2;
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 30px;
}

img {
    height: 450px;
    border-style: dotted;
    border-width: 3px;
    border-color: #2b3578;
    cursor: grab;
}

hr {
    border: 1px solid #0c111b;
}
