/* Reset + Base */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


body {
  margin: 0;
  font-family: Tahoma, sans-serif;
  color: #fff;
  overflow-x: hidden;
  scrollbar-width: none;

  background: url("/images/bg.png") center/cover fixed no-repeat;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hero / intro text */
.mainText {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mainText h1 {
  font-size: 56px;
  margin-bottom: 6px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}

.mainText p {
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

footer {
  color: #ccc;
  text-align: center;
  padding: 40px 20px;
}

footer small {
  font-size: 1rem;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

.stacked-photo.photo {
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
}

.stacked-photo img {
  pointer-events: none;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

/* prompt stuff */
.link-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 15px;
}

.link-with-icon {
  text-decoration: underline;
  color: black;
  padding-left: 5px;
  display: inline-block;
}





