
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Tahoma, sans-serif;
  color: #fff;
  overflow-x: hidden;
  scrollbar-width: none;

  background: url("/images/bg.png") center/cover fixed no-repeat;
}

body::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE/old Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, new Edge */
}

body {
  overflow-x: hidden;
}

/* Page */
#page {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

/* Hero */
.mainText {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.mainText h1 {
  font-size: clamp(32px, 5vw, 56px);
  margin-bottom: 6px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}

.mainText p {
  font-size: clamp(14px, 2vw, 1.2rem);
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

footer {
  color: #ccc;
  text-align: center;
  padding: 40px 20px;
}

footer small {
  font-size: 1rem;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  inset: 0;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.lightbox.active {
  display: flex;
}

/* prompt links */
.link-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 12px 15px;
}

.link-with-icon {
  text-decoration: underline;
  color: black;
  padding-left: 5px;
  display: inline-block;
}

/* Spotify */
.spotify-wrapper {
  width: 100%;
  max-width: 100%;
}

.spotify-wrapper iframe {
  width: 100%;
  height: 352px;
  border-radius: 12px;
  border: none;
}

/* mobile */
@media (max-width: 768px) {
  .mainText {
    min-height: 80vh;
  }

  .spotify-wrapper iframe {
    height: 300px;
  }

  .link-grid {
    grid-template-columns: 1fr;
  }
}