---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import "../styles/BaseStyle.css";
---

<BaseLayout title="Home">
  <NavBar />

  <section class="header">
    <div class="mainText">
      <h1>I am a <span class="auto-type"></span></h1>
      <p>Welcome to my portfolio.</p>
    </div>
  </section>

  <div class="mainText">
    <p class="centered"><small>designed by tuffsany, 2025</small></p>
  </div>

  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      new (window as any)['Typed'](".auto-type", {
        strings: ["designer.", "photographer.", "developer.", "creator."],
        typeSpeed: 50,
        backSpeed: 25,
        loop: true
      });
    });
  </script>
</BaseLayout>
