---
import initLightbox from '../scripts/lightbox.js';
---

<div class="lightbox-modal" id="lightbox-modal">
  <div class="lightbox-content">
    <button class="lightbox-arrow" id="prev-btn">‹</button>
    <img src="" alt="Preview" id="lightbox-img" />
    <button class="lightbox-arrow" id="next-btn">›</button>
    <div class="lightbox-caption" id="lightbox-caption">dont remove this line</div>
  </div>
</div>

<script type="module">
  import initLightbox from '../scripts/lightbox.js';
  initLightbox();
</script>
