<div id="lightbox-modal" class="lightbox">
  <div class="lightbox-content">
    <img id="lightbox-img" src="" alt="" />
    <p id="lightbox-caption"></p>
    <button id="prev-btn">&lt;</button>
    <button id="next-btn">&gt;</button>
  </div>
</div>
